body {
 font-size: 16px;
 font-weight: 500;
 line-height: 1.6;
 color: #8D8D8D;
 @extend %quicksand-500; 
}

.container {
 max-width: 1200px;
 padding: 0 15px;
 margin: 0 auto;
}

.container {
 max-width: 1700px;
 margin: 0 auto;
}