body {
 font-size: 16px;
 font-weight: 500;
 line-height: 1.6;
 color: #8D8D8D;
 @extend %quicksand-500; 
}



.title {
 font-size: 48px;
 line-height: 1.8;
 color: $titleColor;
}

.container {
 max-width: 1200px;
 padding: 0 15px;
 margin: 0 auto;
}

.breadcrumbs {
 display: inline-flex;
 justify-content: center;
 padding-left: 25px;
 position: relative;
  &::before {
   @include pseudo;
   @include background (url("../images/login/icon/home.svg"));
   width: 16px;
   height: 16px;
   left: 0;
   top: 4px;
  }
  &__list {
   display: flex;
  }
  &__item {
   color: $breadcrumbsColor;
   padding-right: 40px;
   position: relative;
   &::after {
    @include background (url("../images/login/angle.svg"));
    @include pseudo;
    width: 9px;
    height: 10px;
    right: 15px;
    top: 9px;
   }
   &:last-child {
    color: $secondaryColor;
    padding-right: 0;
    &::after {
     display: none;
    }
   }
  }
  &__link {
   color: inherit;
  }
 }

 .filter__item {
  border: 1px solid #ececec;
  padding: 40px 30px;
  margin-bottom: 40px;
 }

 .filter__title {
  @include text (22px, 1.2, $titleColor);
  @extend %roboto-400;
  text-transform: uppercase;
  margin-bottom: 20px;
 }