.footer {
 background-color: $bg;
 padding: 75px 0 25px;
 &__inner {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
  &:not(:last-child) {
   margin-right: 30px;
  }
 }
 &__info {
  max-width: 235px;
  width: 100%;
 }
 &__contacts {
  @include text (16px, 2.2, $textColor);
  @extend %quicksand-500;
  margin: 35px 0;
 }
 &__email,
 &__tel {
  display: block;
  color: $textColor;
 }
 &__social-list {
  display: flex;
 }
 &__social-item {
  &:not(:last-child) {
   margin-right: 20px;
  }
 }
 &__social-link {
  transition: all 0.5s;
  path {
   fill: $textColor;
  }
  &:hover {
   path {
    fill: $secondaryColor;
   }
  }
 }
 &__links {
  max-width: 145px;
  width: 100%;
 }
 &__account {
  max-width: 130px;
  width: 100%;
 }
 &__title {
  @include text (22px, 1.6, $titleColor);
 }
 &__link {
  @include text (16px, 2.2, $textColor);
  @extend %quicksand-500;
 }
 &__subscribe {
  max-width: 482px;
  width: 100%;
 }
 &__text {
  margin-bottom: 30px;
 }
 &__form-input {
  padding: 20px 105px 20px 17px;
  margin-right: 10px;
  border: transparent;
  &::placeholder {
   @include text (16px, 2.2, $textColor);
  }
 }
 &__btn {
  @include text (16px, 2.2, $primaryColor);
  @extend %roboto-400;
  @extend %btn;
  padding: 15px 25px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: color 0.5s ease;
  &:hover {
   background-color: $primaryColor;
   color: $secondaryColor;
  }
 }
 &__copyright {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
 }
 &__copyright-text,
 &__pay {
  @include text (12px, 2.8, $textColor);
 }
 &__copyright-box {
  display: flex;
  align-items: center;
 }
 &__pay {
  margin-right: 25px;
 }
 &__image {
  &:not(:last-child) {
   margin-right: 25px;   
  }
 }
}

@media (max-width: 1050px) {
 
}

@media (max-width: 860px) {
 .footer {
  &__contacts {
  width: 100%;
  margin-right: 0;
  margin-bottom: 30px;
  }
 }
}

@media (max-width: 620px) {
 .footer {
  &__copyright {
   justify-content: center;
  }

 }
} 