.offer {
 @include background (url("../images/offer-img.png"));
 background-position: left center;
 background-size: contain;
 padding: 150px 0 160px;
 text-align: center;
 &__inner {
  max-width: 570px;
  width: 100%;
  margin-left: auto;
 }
 &__subtitle {
  @include text (22px, 1.1, $secondaryColor);
  @extend %quicksand-400;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
 }
 &__title {
  @include text (48px, 1.8, $titleColor);
 }
 &__clock {
   display: flex;
   justify-content: space-between;
   margin-top: 55px;
 }
 &__clock-item {
  background-color: $primaryColor;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 5px 20px 0px rgba(146, 146, 146, 0.3);
   span {
    @include text (48px, 1.5, $titleColor);
    @extend %roboto-700;
    margin: 10px 0 7px;
   }
 }
 &__link {
  @extend %btn;
  display: inline-block;
  margin-top: 50px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  &:hover {
   background-color: $primaryColor;
   color: $secondaryColor;
  }
 }
}

@media (max-width: 1110px) {
 .offer {
  padding: 80px 0;
  &__title {
   font-size: 42px;
   margin-bottom: 20px;
  }
 }
}

@media (max-width: 768px) {
 .offer {
  background-image: none;
  background-color: #ececec;
  padding: 60px 0;
  &__inner {
   margin: 0 auto;
  }
  &__subtitle {
   font-size: 14px;
   margin-bottom: 14px;
  }
  &__title {
   font-size: 34px;
  }
  &__clock-item {
   width: 60px;
   height: 60px;
    span {
     font-size: 30px;
     margin: 0;
     line-height: 1;
    }
  }
  &__text {
   font-size: 12px;
  }
 }
}

@media (max-width: 620px) {
 .offer {
  &__title {
   font-size: 28px;
   margin-bottom: 10px;
  }
 }
}