.products {
 padding: 120px 0;
 &__title {
  @include text (48px, 1.8, $titleColor);
  @extend %roboto-700;
  margin-bottom: 30px;
  text-align: center;
 }
 &__text {
  margin: 0 auto 60px;
  max-width: 565px;
  width: 100%;
  text-align: center;
 }
 &__box {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: 10px;
 }
 &__item {
  margin-left: 30px;
  margin-bottom: 50px; 
  display: flex;
  flex-direction: column;
  flex-basis: calc(33.3% - 30px);
  text-align: center;
 }
 &__image {
  margin-bottom: 65px;
 }
 &__name {
  @include text (22px, 1.1, $titleColor);
  @extend %roboto-700;
  margin-bottom: 20px;
 }
 &__price {
  display: flex;
  justify-content: center;
 }
 &__price-new {
  color: $titleColor;
  @extend %roboto-700;
 }
 &__price-old {
  @extend %roboto-400;
  margin-left: 23px;
  text-decoration: line-through;
 }
 &__link {
  @extend %roboto-400;
  display: block;
  color: $titleColor;
  letter-spacing: 0.2em;
  text-align: center;
  padding: 19px 29px;
  border: 1px solid $secondaryColor;
 }
}