.products {
 padding: 120px 0;
 &__title {
  @include text (48px, 1.8, $titleColor);
  @extend %roboto-700;
  margin-bottom: 30px;
  text-align: center;
 }
 &__text {
  margin: 0 auto 60px;
  max-width: 565px;
  width: 100%;
  text-align: center;
 }
 &__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px 30px;
  margin-bottom: 60px;
 }
 &__item {
  max-width: 370px;
  text-align: center;
  &.products__item--list {
   min-width: 100%; 
   display: flex;
    &:hover {
    .products__links {
     transform: translateY(-280%);
    }
   }
   .products__item-box {
    height: 250px;
    min-width: 200px;
   }
   .products__image {
    height: 250px;
    min-width: 200px;
   }
   .products__links {
    background-color: transparent;
    width: 115px;
    box-shadow: none;
    bottom: auto;
    .products__item-link {
     width: 50px;
     height: 50px;
     background-color: $primaryColor;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
    }
    .products__item-link--line {
     display: none;
    }
   }
   .products__wrapper {
    border: 1px solid #ececec;
    padding: 30px 40px;
   
   }
   .products__content-box {
    display: block;
   }
  }
  &:hover {
   .products__links {
    transform: translateY(0);
   }
  }
  &--sale {
   .products__item-box::before {
    content: "SALE";
    position: absolute;
    @extend %btn;
    top: 10px;
    left: 10px;
    line-height: 1;
   }
  }
 }
 &__item-box {
  position: relative;
  height: 370px;
  overflow: hidden;
 }
 &__image {
  object-fit: cover;
 } 
 &__links {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  width: 220px;
  height: 50px;
  margin: 0 auto;
  background-color: $primaryColor;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translateY(300%);
  transition: all 0.5s;
 }
 &__item-link {
  display: inherit;
  &:hover {
   path {
    fill: $secondaryColor;
   }
  }
  &--line {
   &::before,
   &::after {
    content: "";
    position: absolute;
    background-color: #ececec;
    width: 1px;
    height: 30px;
    top: 10px;
   }
   &::before {
    left: 70px;
   }
   &::after {
    right: 70px;
   }
  }
 }
  &__star {
   margin: 0 auto;
  }
  &__name {
  @include text (22px, 1.1, $titleColor);
  @extend %roboto-700;
  padding: 15px 0 20px;
  text-align: center;
  }
  &__price {
   display: flex;
   justify-content: center;
  }
  &__price-new {
   color: $titleColor;
   @extend %roboto-700;
  }
  &__price-old {
   @extend %roboto-400;
   margin-left: 23px;
   text-decoration: line-through;
  }
  &__link {
   @extend %roboto-400;
   display: block;
   color: $titleColor;
   letter-spacing: 0.2em;
   max-width: 185px;
   width: 100%;
   margin: 0 auto;
   text-align: center;
   padding: 19px 29px;
   border: 1px solid $secondaryColor;
   transition: color 0.5s ease;
   &:hover {
    background-color: $secondaryColor;
    color: $primaryColor;
   }
  }
  &__content-box {
   display: none;
  }
}