.related {
 padding: 55px 0 120px;
 &__title {
  @include text (48px, 1.7, $titleColor);
  @extend %roboto-700;
  margin-bottom: 55px;
  text-align: center;
 }
 &__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 }
 &__item {
  &:not(:last-child) {
   margin-right: 28px;
  }
 }
 &__image {
  width: 270px;
  height: 270px;
  margin-bottom: 18px;
 }
 &__star {
  margin: 0 auto;
 }
 &__item-title {
  @include text (18px, 1.2, $titleColor);
  margin-bottom: 8px;
  margin-top: 14px;
  text-align: center;
 }
 &__price {
  text-align: center;
 }
 &__price-new,
 &__price-now {
  color: $titleColor;
  font-weight: 600;
 }
 &__price-now {
  display: block;
  text-align: center;
 }
}

@media (max-width: 1100px) {
 .related {
  padding: 55px 0 80px;
  &__title {
   font-size: 42px;
   margin-bottom: 20px;
  }
 }
}

@media (max-width: 768px) {
 .related {
  padding: 60px 0;
  &__title {
   font-size: 34px;
   margin-bottom: 20px;
  }
 }
}

@media (max-width: 620px) {
 .related {
  &__title {
   font-size: 28px;
   margin-bottom: 10px;
  }
 }
}