.filter-tags {
 &__input {
  @extend %checkbox-hidden;
  &:checked + .filter-tags__text {
   background-color: $secondaryColor;
  }
 }
 &__checkbox {
  border: 1px solid #8d8d8d;
  display: inline-block;
  padding: 11px 17px;
 }
}