.slider {
 background-image: url("../images/slider/slider-bg.png");
 background-repeat: no-repeat;
 background-size: cover;
 background-color: $bg;
 padding: 65px 0 40px;
 &__container {
  max-width: 1560px;
 }
 &__item {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
 }
 &__content {
  padding-left: 175px;
 }
 &__title {
 @include text (58px, 1.1, $titleColor);
 @extend %roboto-700;
 max-width: 670px;
 width: 100%;
 margin-bottom: 40px;
 }
 &__text {
  max-width: 465px;
  width: 100%;
  margin-bottom: 60px;
 }
 &__link {
  @extend %btn;
  padding: 19px 35px;
  transition: color 0.7s ease;
  &:hover {
   background-color: $primaryColor;
   color: $secondaryColor;
  }
 }
 .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: -70px; 
   li {
     padding: 0 5px;
     button {
      padding: 0;
      font-size: 0;
      background: transparent;
      width: 27px;
      height: 27px;
      border: 1px solid transparent;
      border-radius: 50%;
      position: relative;
       &::before {
        @include pseudo;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 6px;
        height: 6px;
        background-color: $textColor;
        border-radius: 50%;
       }
     }
     &.slick-active {
      button {
       border-color: $secondaryColor;
       &::before {
        background-color: $secondaryColor;
       }
      }
     }
   }
 }
}

@media (max-width: 1200px) {
 .slider {
  &__content {
   padding-left: 15px;
   padding-top: 40px;
  }
  &__image {
   width: 40%;
   object-fit: contain;
  }
 }
}

@media (max-width: 1050px) {
 .slider {
  &__item {
    .slider__image {
     display: none;
   }
  }
  .slick-dots {
   margin-top: 0;
  }
  &__content {
   padding-top: 0;
   padding-bottom: 50px;
  }
 }
}

@media (max-width: 620px) {
 .slider {
  padding: 45px 0 30px;
   &__title {
    font-size: 44px;
    margin-bottom: 25px;
   }
 }
}

@media (max-width: 375px) {
 .slider {
  &__title {
   font-size: 38px;
   margin-bottom: 20px;
  }
  &__text {
   margin-bottom: 30px;
  }
 }
}