.product-comments {
 display: flex;
 margin-bottom: 40px;
 &__image {
  margin-right: 30px;
  min-width: 71px;
  height: 71px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
 }
 &__top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
 }
 &__name {
  @include text (16px, 1.7, $titleColor);
  @extend %roboto-700;
  margin-right: 13px;
 }
 &__date {
  padding-left: 13px;
  border-left: 1px solid $textColor;
 }
 &__star {
  margin-left: auto;
 }
 &__text {
  margin-bottom: 10px;
 }
 &__reply {
  display: inline-block;
  padding-left: 25px;
  position: relative;
   &::before {
    @include pseudo;
    @include background (url("../images/reply.svg"));
    width: 15px;
    height: 13px;
    left: 0;
    top: 5px;
   }
 }
 &__form {
  padding-bottom: 60px;
  border-bottom: 1px solid #ececec;
 }
 &__form-title {
  @include text (22px, 1.2, $titleColor);
  @extend %roboto-400;
  padding-bottom: 10px;
  margin-bottom: 35px;
  position: relative;
  display: inline-block;
   &::after {
    @include pseudo;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 1px;
    background-color: $secondaryColor;
   }
 }
 &__rating {
  margin-bottom: 30px;
 }
 &__rating-title {
  color: $titleColor;
  margin-right: 60px;
 }
 &__label {
  &:not(:last-child) {
   margin-right: 25px;
  }
 }
 &__input {
  @extend %radio-hidden;
   &:checked + .product-comments__radio {
    path {
     fill: #ffc35b;
    }
   }
 }
 &__radio {
  cursor: pointer;
  path {
   fill: $textColor;
  }
 }
 &__box-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
 }
 &__field {
  padding: 20px;
  width: 570px;
  border: 1px solid #ececec;
  &:not(:last-child) {
   margin-right: 30px;
  }
 }
 &__textarea {
  color: $textColor;
  display: block;
  width: 100%;
  height: 275px;
  margin-bottom: 40px;
  border: 1px solid #ececec;
  padding: 15px 20px;
  resize: none;
 }
 &__btn {
  @extend %btn;
  @extend %roboto-400;
  padding: 20px 25px;
  text-transform: uppercase;
  transition: color 0.5s ease, background-color 0.5s ease;
   &:hover {
    background-color: $primaryColor;
    color: $secondaryColor;
   }
 }
}

@media (max-width: 768px) {
 .product-comments {
  &__image {
   min-width: 55px;
   height: 55px;
  }
  &__name {
   font-size: 10px;
  }
 }
}

@media (max-width: 620px) {
 .product-comments {
  &__box-input {
   display: block;
  }
  &__field {
   width: 100%;
   &:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
   }
  }
  &__textarea {
   height: 200px;
  }
 }
}

@media (max-width: 620px) {
 .product-comments {
  .product-comments {
   &__name {
    font-size: 8px;
   }
  }
 }
}

