.product {
 padding: 120px 0 60px;
 border-bottom: 1px solid #ececec;
 &__item-inner {
  display: flex;
 }
 &__slide {
  width: 730px;
  margin-right: 70px;
 }
 &__content {
  max-width: 370px;
  width: 100%;
 }
 &__slide {
  display: flex;
   .slick-vertical .slick-slide {
    height: 140px;
    margin-bottom: 30px;
   }
 }
 &__thumb {
  width: 140px;
  margin-right: 30px;
 }
 &__thumb-item {
  margin-bottom: 30px;
  width: 140px;
  height: 140px;
  cursor: pointer;
   img {
    width: 140px;
    height: 140px;
    object-fit: contain;
  }
 }
 &__big {
  width: 560px;
   img {
    width: 560px;
    height: 650px;
    object-fit: cover;
   }
 }
 &__title {
  @include text (22px, 1.5, $titleColor);
  margin-bottom: 15px;
 }
 &__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
 }
 &__price {
  display: flex;
  &--center {
   justify-content: center;
   padding-left: 0;
  }
 }
 &__price-new {
  @include text (18px, 1.8, $titleColor);
  font-weight: 600;
 }
 &__price-old {
  @include text (18px, 1.8, $textColor);
  padding-left: 15px;
  text-decoration: line-through;
 }
 &__star-item {
  display: flex;
  align-items: center;
   span {
    padding-left: 8px;
    color: $titleColor;
   }
 }
 &__text {
  margin-bottom: 30px;
  text-align: justify;
   span {
    display: block;
    color: $titleColor;
    margin-bottom: 9px;
    @extend %roboto-700;
   }
 }
 &__color-filter {
  margin-bottom: 30px;
 }
 &__color-title,
 &__size-title {
  @include text (18px, 1.4, $titleColor);
  @extend %roboto-400;
  margin-bottom: 5px;
 }
 &__color-input {
  @extend %radio-hidden;
   &:checked + .product__color-checkbox {
    border-color: $secondaryColor;
   }
 }
 &__color-checkbox {
  position: relative;
  width: 24px;
  height: 24px;
  border: 1px solid #ccccce;
  margin-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition: border-color 0.5s ease;
   span {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    top: 3px;
    left: 3px;
   }
 }
 &__size-filter {
  margin-bottom: 30px;
 }
 &__size-label {
  margin-right: 10px;
  display: inline-block;
 }
 &__size-input {
  @extend %radio-hidden;
  &:checked + .product__size-checkbox {
   border-color: $secondaryColor;
  }
 }
 &__size-checkbox {
  display: inline-block;
  padding: 4px 12px;
  border: 1px solid #ccccce;
 }
 &__info {
  max-width: 275px;
  width: 100%;
 }
 &__list {
  margin-bottom: 30px;
 }
 &__list-item {
  display: flex;
  margin-bottom: 5px;
 }
 &__list-title {
  min-width: 100px;
  color: $titleColor;
 } 
 &__link {
  color: $textColor;
 }
 &__list-link {
   &:not(:last-child) {
    margin-right: 8px;
   }
   path {
    fill: $textColor;
   }
   &:hover {
    path {
     fill: $secondaryColor;
    }
   }
 }
 &__input {
  max-width: 100px;
  width: 100%;
  border: 1px solid #ececec;
  margin-right: 15px;
 }
 &__btn {
  @extend %btn;
  border: none;
  transition: color 0.5s ease, background-color 0.5s ease;
  &:hover {
   background-color: $primaryColor;
   color: $secondaryColor;
  }
 }

 .product-tabs {
  padding-top: 120px;
  &__top {
   margin-bottom: 40px;
   border-bottom: 1px solid #ececec;
  }
  &__link {
   @include text (22px, 1.2, $textColor);
   display: inline-block;
   margin-bottom: 10px;
   &:not(:last-child) {
    margin-right: 60px;
   }
  }
  &__link--active {
   color: $titleColor;
   position: relative;
    &::before {
     @include pseudo;
     bottom: -11px;
     left: 0;
     right: 0;
     width: 100%;
     height: 1px;
     background-color: $secondaryColor;
    }
  }
  &__content-item {
   display: none;
    &.product-tabs__content-item--active {
     display: block;
   }
  }
 }
}

@media (max-width: 1150px) {
 .product {
  &__item-inner {
  flex-direction: column;
  align-items: center;
  }
  &__slide {
   margin-right: 0;
  }
 }
}

@media (max-width: 992px) {
 .product {
  &__slide {
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
  }
  &__thumb {
   width: 100%;
   margin-right: 0;
  }
 }
}