.shop {
 padding: 120px 0;
 &__inner {
  display: flex;
 }
 &__filters {
  max-width: 370px;
  width: 100%;
  margin-right: 30px;
 }
 &__content {
  width: 100%;
 }
 &__content-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ebebeb;
  padding: 20px 25px 20px 30px;
  margin-bottom: 40px;
 }
 &__content-buttons {
  display: flex;
  align-items: center;
 }
 &__content-btn {
  outline: none;
  margin-left: 15px;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  &.shop__content-btn--active {
   path {
    fill: $secondaryColor;
   }
  }
 }
 &__content-sort,
 &__content-show {
  border: none;
  color: $textColor;
 }
 &__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .products__item {
   margin-bottom: 40px;
  }
 }
}

@media (max-width: 1110px) {
 .shop {
  padding: 80px 0;
 }
}

@media (max-width: 768px) {
 .shop {
  padding: 60px 0;
  &__inner {
   flex-direction: column;
   align-items: center;
  }
  &__box {
   justify-content: center;
  }
  &__filters {
   margin-right: 0;
  }
 }
}