.shop {
 padding: 120px 0;
 &__inner {
  display: flex;
 }
 &__filters {
  max-width: 370px;
  width: 100%;
  margin-right: 30px;
 }
 &__content {
  width: 100%;
 }
 &__content-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ebebeb;
  padding: 20px 25px 20px 30px;
  margin-bottom: 40px;
 }
 &__content-buttons {
  display: flex;
  align-items: center;
 }
 &__content-btn {
  margin-left: 15px;
  line-height: 0;
  cursor: pointer;
  &.shop__content-btn--active {
   path {
    fill: $secondaryColor;
   }
  }
 }
 &__content-sort,
 &__content-show {
  border: none;
  color: $textColor;
 }
}